<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ControladorCliente</servlet-name>
        <servlet-class>Controlador.ControladorCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorConductor</servlet-name>
        <servlet-class>Controlador.ControladorConductor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorDestino</servlet-name>
        <servlet-class>Controlador.ControladorDestino</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorUsuario</servlet-name>
        <servlet-class>Controlador.ControladorUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorVehiculo</servlet-name>
        <servlet-class>Controlador.ControladorVehiculo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorViajero</servlet-name>
        <servlet-class>Controlador.ControladorViajero</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControladorCliente</servlet-name>
        <url-pattern>/ControladorCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorConductor</servlet-name>
        <url-pattern>/ControladorConductor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorDestino</servlet-name>
        <url-pattern>/ControladorDestino</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorUsuario</servlet-name>
        <url-pattern>/ControladorUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorVehiculo</servlet-name>
        <url-pattern>/ControladorVehiculo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorViajero</servlet-name>
        <url-pattern>/ControladorViajero</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
